<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link href="http://fonts.googleapis.com/css?family=Cagliostro" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p>Welcome to <b>giza</b>
    </p>
    <form name="input" action="login" method="post">
      <input type="hidden" name="username" value="anon">
      What's the secret word?<br/>
      <input type="text" name="password" autofocus="autofocus">
      <input type="submit" value="Log In">
    </form>
    <p class="date">
      12/16/2012 04:37
    </p>
  </body>
</html>
