body {
    padding: 50px;
    font: 14px 'Cagliostro', sans-serif;
}

a {
    color: #00B7FF;
}

form {
    color: #07f;
    font-size: 48px;
}

input {
    font: 40px 'Cagliostro', sans-serif;
    border: 1px solid #006;
}

.date {
    font: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333;
}