
body {
    background: #f3f3f3;
    color: #555;
    font-family: 'Candal', sans-serif;
}

canvas {
    border-color:#000;
    border-style:solid;
    border-width:2px;
}

#home-button {
    width:64px;
    -webkit-transition: width 0.1s;
    -moz-transition: width 0.1s;
    -o-transition: width 0.1s;
    transition: width 0.1s;
}

#home-button:hover {
    width:72px;
}

.error {
    margin: 5px;
    color: #a11;
}
