
body {
    background: #f3f3f3;
    color: #555;
    font-family: 'Candal', sans-serif;
}

#canvasParent {
    height:400px;
    background:#eee;
    border-color:#000;
    border-style:solid;
    border-width:2px;
    margin-bottom: 10px;
}

.error {
    margin: 5px;
    color: #a11;
}
